<div class="planting">
  <div>
    <a href="{{ planting.url }}">{{ planting.name }}</a>
    <em>Status: {{ planting.status | safe }}</em>
    -{{ planting.description }}
  </div>
  {% if planting.image %}
  <img src="./{{ planting.image.path }}" />
  {% endif %} {% for planting in planting.sub %}
  <div class="sub-planting">
    <div>
      {% if planting.image %}
      <img
        style="object-fit: cover; width: 100%; height: 100%"
        src="./enchanted-animal-rescue.png"
      />
      {% endif %}
    </div>
    <div>
      <a href="{{ planting.url }}">{{ planting.name }}</a>
      <em>Status: {{ planting.status }}</em>
      -{{ planting.description }}
    </div>
  </div>
  {% endfor %}
</div>
