<div class="planting">
  <div>
    <a href="{{ planting.url }}">{{ planting.name }}</a>
    <em>Status: {{ planting.status | safe }}</em>
    -{{ planting.description }} {% if planting.image %}
    <img style="border: 1px solid green" src="./{{ planting.image.path }}" />
    {% endif %}
  </div>
  {% for planting in planting.sub %}
  <div class="sub-planting">
    <div>
      {% if planting.image %}
      <img style="object-fit: cover; width: 100%; height: 100%" src="{{ planting.image.path }}" />
      {% endif %}
    </div>
    <div>
      <a href="{{ planting.url }}">{{ planting.name }}</a>
      <em>Status: {{ planting.status }}</em>
      -{{ planting.description }}
    </div>
  </div>
  {% endfor %}
</div>
